#cf6_image {
  margin:0 auto;
  width:450px;
  height:281px;
  transition: background-image 1s ease-in-out;
  background-image:url("forest2.jpg");
}

#cf6_image:hover {
  background-image:url("forest4.jpg");
  
}
