*
{	margin:0;
	padding:0;
	font-family: verdana;
}

.logo img
{	float:left;
	margin-top:5px;
	margin-left:5px;
	height:auto;
	width:100px;
}

header
{
	background-image: url("contact.jpg"); 
	height: 100vh;
	background-size: cover;
	background-position: center;
	overflow-y: scroll;
}

ul
{	margin-top:20px;
	margin-right: 20px;
	margin-left: 20px;
	list-style-type: none;
}

ul li
{	display-inline: block;
	float: right;
}	

ul li.active a
{
	background-color: #ccff99;
	color: #000000;
}

ul li a
{
	padding: 5px 20px;
	color: #f2f2f2;
 	border:6px solid #fff transparent;
	transition:0.4s ease;
	text-decoration: none;
}

ul li a:hover
{
	background-color: #ccff99;
	color:#000000;
}

.joi
{
	font-size:40px;
	top:50px;
	left: 40px;
	margin-top: 20px;	
}

.w3-animate-top
{position:relative;animation:animatetop 0.8s}
@keyframes animatetop{from{top:-600px;opacity:0} to{top:10px;opacity:1}}

h1
{	text-align:center;
	color:#f2f2f2;
	padding: 10px;
	positiion: relative;
}

p
{	display: block;
	font-size: 17px;
	font-family: verdana;
	color: #f2f2f2;
}

table, td
{
  border: 3px solid white;
  padding: 5px;
  text-align:center;
  border-spacing:1px;
  border-collapse: collapse;
  color: white;
}
table tr td a
{	text-decoration:none;
	color: #f2f2f2;
}

tr:hover 
{background-color: #ccccff;}

.block1 {
  border: 2px solid #ffffff;
  margin: 4px 2px;  
  position: relative;
  background-color: transparent;
  color: white;
  width: 50px;
  padding: 10px;
  font-size: 25px;
  font-family: verdana;
  cursor: pointer;
  text-align: center;

  -webkit-box-shadow: 0 2px 10px 1px rgba(0,0,0,0.5);
  box-shadow: 0 2px 10px 1px rgba(0,0,0,0.5);
}

.block1:hover {
  background-color: #ccccff;
  color: white;
}